h1{
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}
h3{
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}
li{
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond', serif;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.content{
    /* border-width: 0.5px;
    border-style: solid; */
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
/* .jumbotron{
    margin: 0;
    border-radius: 0;
    padding: 5px;
    background-color: #800000; */
}
.btn-primary{
    background-color: #464646;
    border-color: #000000;
}
.btn-primary:hover{
    background-color: #464646;
    border-color: #000000;
    opacity: 0.75;
}
li:hover{
    opacity: 0.5;
}

#logout{
    background-color: #8f3d4b;
    font-family: 'Cormorant Garamond', serif;
    color: #8bba48;
}

#login-toggle{
    background-color: #8f3d4b;
    font-family: 'Cormorant Garamond', serif;
    color: #8bba48;
}

.search-result:hover{
    opacity: 0.5;
}

.main-content{
    padding: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.15rem;
    background-color:  #f9e9ec;
}
.main-menu{
    padding: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.15rem;
    background-color:  #f9e9ec;
}

.group-menu{
    padding: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.15rem;
    background-color: #f9e9ec;
    height: 100%;
}

#recipe-instructions{
margin-bottom: 10rem;
}

.deck-menu{
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.15rem;
    background-color: #e27079;
}

.scrollmenu{
    overflow: auto;
    white-space: nowrap;
}

.card{
    margin-right: 15px; 
    display: inline-block;
}
div.inline { 
    float:left; 
}
.clearBoth { 
    clear:both; 
}

.list-style {
    list-style: none;
}

.recipe-img {
    width: 200px;
    height: 200px;
}